html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  padding-top: 70px; }

.btn-primary.predictionSel {
  border-color: red;
  border-width: medium; }

.teamLosing {
  opacity: 0.5; }

.teamLoser {
  opacity: 0.1; }

.home {
  height: 100%; }

.matchup-cell {
  display: table-cell;
  padding: 1px;
  vertical-align: middle;
  text-align: center;
  width: 33%;
  height: 100%; }

.matchup {
  background-color: #5E5A5F;
  height: 100%;
  width: 100%;
  display: block;
  border: 2px solid black;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 20px; }

.matchup .teams {
  display: flex;
  width: 100%;
  font-size: 50%;
  align-items: baseline;
  height: 100%; }

.matchup .info {
  display: block; }

.matchup-img {
  width: 100%;
  height: 100%;
  font-size: 10px; }

.modal-dialog .matchup-img {
  width: 50px;
  height: 50px;
  font-size: 30px; }

.modal-dialog .teams {
  display: table;
  width: 100%; }

.matchup .info .next {
  display: table-row;
  border: 2px solid black; }

.matchup .info .last {
  display: table-row;
  border: 2px solid black; }

.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw; }

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw; }

.matchups {
  border: 2px solid black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.matchups .row {
  margin: 0;
  padding: 0;
  height: 14%;
  display: flex;
  width: 100%;
  max-height: 20px; }

.matchups .cell {
  height: 100%;
  width: 14%;
  display: block;
  width: 33%;
  max-height: 20px; }

.predictions {
  display: block; }
  .predictions .header {
    display: flex;
    width: 100%; }
    .predictions .header .cell {
      width: 20%;
      display: flex;
      padding: 5px;
      text-align: center;
      max-width: 300px; }
    .predictions .header .round {
      width: 5%; }
    .predictions .header .teams {
      width: 45%; }
    .predictions .header .games {
      width: 20%; }
    .predictions .header .time-left {
      width: 30%; }
  .predictions .prediction {
    display: flex;
    width: 100%; }
    .predictions .prediction .cell {
      width: 20%;
      display: flex;
      padding: 5px;
      text-align: center;
      max-width: 300px; }
    .predictions .prediction .round {
      width: 5%;
      align-items: center; }
    .predictions .prediction .teams {
      width: 45%;
      align-items: center; }
    .predictions .prediction .games {
      width: 20%;
      align-items: center; }
    .predictions .prediction .time-left {
      width: 30%;
      align-items: center; }

.team-selector {
  display: flex;
  color: black;
  width: 100%; }
  .team-selector .homeimg {
    display: block;
    border: 2px solid black;
    background-color: #5E5A5F;
    border-radius: 9px;
    margin: 2px;
    width: 33%;
    max-height: 100px;
    max-width: 100px; }
  .team-selector .awayimg {
    display: block;
    border: 2px solid black;
    background-color: #5E5A5F;
    border-radius: 9px;
    margin: 2px;
    width: 33%;
    max-height: 100px;
    max-width: 100px; }
  .team-selector .selected {
    border: 3px solid red;
    border-radius: 9px; }
  .team-selector .results {
    display: block;
    font-size: 130%;
    color: black;
    align-self: center;
    width: 33%; }
  @media (min-width: 800px) {
    .team-selector .results {
      font-size: 200%; } }

.matchup-result {
  font-size: 90%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.modal-result {
  font-size: 300%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.team-rank {
  position: relative;
  left: 10%;
  height: 0;
  width: 0;
  display: flex;
  margin-top: 10%;
  float: left;
  color: #FFC107;
  font-weight: bold;
  font-size: 150%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

@media (min-width: 500px) {
  .matchups .row {
    max-height: 30px; }
  .matchups .cell {
    max-height: 30px; } }

@media (min-width: 600px) {
  .matchups .row {
    max-height: 35px; }
  .matchups .cell {
    max-height: 35px; } }

@media (min-width: 650px) {
  .matchups .row {
    max-height: 40px; }
  .matchups .cell {
    max-height: 40px; } }

@media (min-width: 800px) {
  .matchup .teams {
    display: flex;
    width: 100%;
    font-size: 100%; }
  .matchup .info {
    display: table;
    width: 100%;
    height: auto;
    visibility: visible;
    line-height: 30px; }
  .matchup-img {
    max-height: 100px;
    max-width: 100px;
    font-size: 30px; }
  .matchups .row {
    max-height: 100px; }
  .matchups .cell {
    max-height: 100px; }
  .matchup-result {
    font-size: 160%;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; } }

@media (min-width: 1500px) {
  .matchup-result {
    font-size: 200%;
    font-weight: bold; } }

.rline {
  border-left: 2px solid;
  height: 100%;
  width: 50%;
  left: 50%;
  display: block;
  position: relative; }

.lline {
  border-right: 2px solid;
  height: 100%;
  width: 50%;
  display: block;
  position: relative; }

.right-top-corner {
  border-top: 2px solid;
  border-left: 2px solid;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  display: block;
  position: relative; }

.right-bottom-corner {
  border-bottom: 2px solid;
  border-left: 2px solid;
  height: 50%;
  width: 50%;
  top: 0%;
  left: 50%;
  display: block;
  position: relative; }

.left-top-corner {
  border-top: 2px solid;
  border-right: 2px solid;
  height: 50%;
  width: 50%;
  top: 50%;
  display: block;
  position: relative; }

.left-bottom-corner {
  border-bottom: 2px solid;
  border-right: 2px solid;
  height: 50%;
  width: 50%;
  top: 0%;
  display: block;
  position: relative; }

.rank {
  width: 1%; }

.scimg {
  width: 100%;
  height: 200%;
  font-size: 10px;
  position: absolute; }

.winner {
  height: 100%;
  position: relative;
  display: block; }

.winner-img {
  position: absolute;
  left: 50%;
  top: 90%;
  height: 100%;
  float: left; }
