html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  padding-top: 70px; }

.btn-primary.predictionSel {
  border-color: red;
  border-width: medium; }

.teamLosing {
  opacity: 0.5; }

.teamLoser {
  opacity: 0.1; }

.matchup-cell {
  display: table-cell;
  padding: 1px;
  vertical-align: middle;
  text-align: center; }

.matchup {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  display: block;
  border: 2px solid black;
  overflow: hidden; }

.matchup .teams {
  display: flex;
  width: 100%;
  font-size: 50%; }

.matchup .info {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0; }

.matchup-img {
  width: 100%;
  height: 100%;
  font-size: 10px; }

.modal-dialog .matchup-img {
  width: 50px;
  height: 50px;
  font-size: 30px; }

.modal-dialog .teams {
  display: table;
  width: 100%; }

.matchup .info .next {
  display: table-row;
  border: 2px solid black; }

.matchup .info .last {
  display: table-row;
  border: 2px solid black; }

.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw; }

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw; }

.matchups {
  border: 2px solid black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.matchups .row {
  margin: 0;
  padding: 0;
  height: 14%;
  display: flex;
  width: 100%; }

.matchups .cell {
  height: 100%;
  width: 14%;
  display: block; }

@media (min-width: 800px) {
  .matchup .teams {
    display: table;
    width: 100%;
    font-size: 100%; }
  .matchup .info {
    display: table;
    width: 100%;
    height: auto;
    visibility: visible;
    line-height: 30px; }
  .matchup-img {
    width: 50px;
    height: 50px;
    font-size: 30px; } }
